div{
  width: 70%;
  border: 3px solid black;
  background-image: url("project-3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  margin: auto;
}

ul{
  width: 150px;
  height: 150px;
  background-color: white;
  margin: auto;
  list-style: none;
  padding-top: 30px;
  border-radius: 50px;

}